<h2 class="user-title-box">ログイン</h2>

<div class="well session-new-panel-size">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <table>
      <tr>
        <td class="session-new-table-space"><%= f.label :email %></td>
        <td class="session-new-table-space session-new-label-space"><%= f.email_field :email, :placeholder => "Email", :size => "50" %></td>
      </tr>
      <tr>
        <td class="session-new-table-space session-new-label-space"><%= f.label :password %></td>
        <td class="session-new-table-space"><%= f.password_field :password, :placeholder => "Password", :size => "50" %></td>
      </tr>
      <tr>
        <td><%= f.submit "ログインする" %></td>
      </tr>
    </table>
  <% end %>
</div>
