<%= form_with(model: @blog, local: true, url: choose_new_or_edit_blogs) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= form.label "タイトル" %></p>
  <p><%= form.text_field :title, :size => "60", :placeholder => "タイトル" %></p>
  <p><%= form.label "記事" %></p>
  <p><%= form.text_area :content, :size => "97x10", :placeholder => "記事" %></p>
  <p><%= form.label "画像" %></p>
  <p><%= form.file_field :image, :placeholder => "画像" %></p>
  <%= form.hidden_field :image_cache %>
  <br>
  <p><%= form.submit "投稿する" %></p>
<% end %>
