<h2 class="blog-title-box">ブログ詳細</h2>

<div class="panel panel-info blog-show-panel-size">
  <div class="panel-heading ">
    <table>
      <tr>
        <td>タイトル：</td>
        <td><%= @blog.title %></td>
      </tr>
    </table>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <td><%= simple_format(@blog.content) %></td>
      </tr>
      <tr class="blog-show-border">
        <td class="blog-show-image-positon"><%= image_tag @blog.image %></td>
      </tr>
    </table>
  </div>
</div>

<strong>コメント</strong>

<%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
</div>

<% if current_user != nil %>
  <% if @blog.user_id == current_user.id %>
    <%= link_to '編集', edit_blog_path(@blog) %> |
  <% end %>
<% end %>

<%= link_to 'ブログ一覧にもどる', blogs_path %>
