<%= form_with(model: @sake, local: true, url: choose_new_or_edit_sakes) do |form| %>
  <% if @sake.errors.any? %>
    <div id="error_explanation">
      <h2><%= @sake.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @sake.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= form.label "日本酒" %></p>
  <p><%= form.text_field :sake, :size => "50", :placeholder => "日本酒" %></p>
  <p><%= form.label "蔵元" %></p>
  <p><%= form.text_field :brewery, :size => "50", :placeholder => "蔵元" %></p>
  <p><%= form.label "都道府県" %></p>
  <p><%= form.select(:prefectures, Sake::SELECT_OPTIONS, selected: @sake.prefectures) %></p>
  <p><%= form.label "画像" %></p>
  <p><%= form.file_field :image, :placeholder => "画像" %></p>
  <%= form.hidden_field :image_cache %>
  <p><%= form.label "コメント" %></p>
  <p><%= form.text_area :comment, :size => "50x5", :placeholder => "コメント" %></p>
  <br>
  <p><%= form.submit "投稿する" %></p>
<% end %>

<%= link_to "日本酒一覧にもどる", sakes_path %>
