<h2 class="sake-title-box">日本酒ノート詳細</h2>
<div class="panel panel-info sake-show-panel-size">
  <div class="panel-heading ">
    <table>
      <tr>
        <td>投稿者：</td>
        <td class="sake-show-table-space"><%= User.find(@sake.user_id).name %></td>
      </tr>
      <tr>
        <td>日本酒：</td>
        <td class="sake-show-table-space"><%= @sake.sake %></td>
      </tr>
      <tr>
        <td>蔵元：</td>
        <td class="sake-show-table-space"><%= @sake.brewery %></td>
      </tr>
      <tr>
        <td>都道府県：</td>
        <td class="sake-show-table-space"><%= @sake.prefectures %></td>
      </tr>
    </table>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <td class="sake-show-image-positon"><%= image_tag @sake.image %></td>
      </tr>
      <tr>
        <td class="sake-show-comment-space">コメント：</td>
      </tr>
      <tr>
        <td class="sake-show-comment-space"><%= simple_format(@sake.comment) %></td>
      </tr>
    </table>
  </div>
</div>

<% unless @sake.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(sake_id: @sake.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(sake_id: @sake.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <br>
  <br>
<% end %>

<%= link_to "日本酒一覧にもどる", sakes_path %>
